
@media screen and (max-width: 768px) {
  html {
    background-color: #2c2f33;
  }
}

@media screen and (min-width: 769px) {
  html {
    padding-top: 30px;
    background-color: #2c2f33;
    max-width: 100%;
  }

}
